{% extends "base.html" %}

{% block content %}
   <h2>Our Products</h2>

   <form method="GET" action="/products" class="filter-bar">
        <input type="text" name="search" placeholder="Search products..." value="{{ search_query }}">

        <select name="category" onchange="this.form.submit()">
            <option value="">All Categories</option>
            {% for category in categories %}
               <option value="{{ category.id }}" {% if selected_category == category.id %}selected{% endif %}>
                {{ category.name }}
               </option>
            {% endfor %}
        </select>

        <button type="submit" class="cta-button">Search</button>
   </form>
   
   <div class ="product-grid">
    {% for product in products %}
    <div class="product-card">
        <img src="{{ product.image_url }}" alt="{{ product.name }}" class="product-image">
        <h3><a href="/products/{{ product.id }}">{{ product.name }}</a></h3>
        {% if product.discount_percent and product.discount_percent > 0 %}
        <p>
            <span class="original-price">${{ "%.2f"|format(product.price) }}</span>
            <span class="discounted-price">${{ "%.2f"|format(product.final_price) }}</span>
            <span class="discount-badge">-{{ product.discount_percent|int }}%</span>
        </p>
        {% else %}
        <p class="price">${{ "%.2f"|format(product.price) }}</p>
        {% endif %}
        <p class="category-tag">{{ product.category.name }}</p>
    </div>
    {% else %}
    <p>No products found.</p>
    {% endfor %}
   </div>

   <div class="pagination">
    {% if pagination.has_prev %}
    <a href="/products?page={{ pagination.prev_num }}&search={{ search_query }}&category={{ selected_category or ''}}">&laquo; Prev</a>
    {% endif %}

    <span>Page {{ pagination.page }} of {{ pagination.pages }}</span>
    {% if pagination.has_next %}
    <a href="/products?page={{ pagination.next_num }}&search={{ search_query }}&category={{ selected_category or '' }}">Next &raquo;</a>
    {% endif %}
   </div>
{% endblock %}