{% extends "base.html" %}

{% block content %}
   <h2>Our Products</h2>
   {% if category %}
    <p class="category-label">Category: {{ category.name }}</p>
   {% endif %}

   <div class ="product-grid">
    {% for product in products %}
    <div class="product-card">
        <img src="{{ product.image_url }}" alt="{{ product.name }}" class="product-image">
        <h3><a href="/product/{{ product.id }}">{{ product.name }}</a></h3>
        <p class="price">${{ "%.2f"|format(product.price) }}</p>
        <p class="category-tag">{{ product.category.name }}</p>
    </div>
    {% endfor %}
   </div>
{% endblock %}