{% extends "admin/admin_base.html" %}

{% block admin_content %}
<h2>Manage Users</h2>

<table class="admin-table">
    <thead>
        <tr>
            <th>ID</th>
            <TH>Username</TH>
            <th>Email</th>
            <th>is_admin</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
                {% if user.is_admin %}
                    YES - <a href="/admin/users/toggle-admin/{{ user.id }}">Remove Admin</a>
                {% else %}
                    NO - <a href="/admin/users/toggle-admin/{{ user.id }}">Make Admin</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}